<form #loginForm="ngForm" (submit)="login()" >
  <div class="form-group">
    <input type="text" [(ngModel)]="user.userName" required name="userName" class="form-control" placeholder="User Name" />
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="user.Password" required name="Password" class="form-control" placeholder="Password" />
  </div>
  <div class="form-group">
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary" >Login</button>
  </div>
</form>