<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="todo">Employee Management App</a>
        </div>
        <ul *ngIf="loginService.islogin" class="nav navbar-nav">
          <!-- <li class="active">
            <a routerLink="#">Home</a>
          </li> -->
          <li>
              <a routerLink="todo">ToDo</a>
          </li>
          <li>
            <a routerLink="employee">Employee</a>
          </li>
          <li>
            <a routerLink="department">Deportment</a>
          </li>
          <li>
              <a routerLink="onboarding">OnBoarding</a>
        </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-onboarding></app-onboarding> -->
    <!-- <app-todo></app-todo> -->
    <!--<div *ngIf="toggle"><app-employee></app-employee></div>
    <button (click)="toggleEmp()" class="btn btn-primary">Toggle</button>-->
  </div>
  <!-- <app-employee></app-employee> -->
  <!-- <button type="button" (click)="addemp()" class="btn btn-primary" >Add Employee</button> -->
</div>